.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #000000;
  }
  
  .navbar__menu li a {
    color: white;
  }
  
  .navbar__menu {
    list-style-type: none;
    display: flex;
  }
  .navbar__menu li a {
    text-decoration: none;
    padding: 20px;
  }
  
  .navbar__menu li a:hover {
    color: white;
  }